<div class="home">
  <div class="home_inner">
    <div class="input">
      <h2 class="input_title text">Search heroes</h2>
      <div class="input_wrapper">
        <p
          class="btn_letter"
          (click)="lettersBox = !lettersBox"
        >A</p>
        <app-input
          [inputControl]="searchControl"
        ></app-input>
        <img
          class="input_img"
          src="assets/icons/lupe.png"
          alt="search"
          (click)="searchHeroes()">
      </div>
      <div *ngIf="lettersBox"
           class="lettersBox"
      >
        <app-array-letters
          class="lettersBox_items"
          (onLetterSearch)="letterSearch($event)"
        ></app-array-letters>
      </div>
    </div>

    <div class="hero">
      <div class="hero_card"
           *ngFor="let hero of heroesList">
        <app-hero-item
          [hero]="hero"
        ></app-hero-item>
      </div>
    </div>
  </div>
</div>

